@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="编号，主键" value="${item.id}" underline="true"/>
                            <#input id="followTime" name="随访时间" value="${item.followTime}" underline="true"/>
                            <#input id="isMedTaking" name="至此次随访是否仍在服用" value="${item.isMedTaking}" underline="true"/>
                            <#input id="timesPerDay" name="每日服用次数" value="${item.timesPerDay}" underline="true"/>
                            <#input id="dosage" name="每次剂量" value="${item.dosage}" underline="true"/>
                            <#input id="cardNo" name="身份证号" value="${item.cardNo}" />
                </div>

                <div class="col-sm-6">
                            <#input id="drug" name="药物名称" value="${item.drug}" underline="true"/>
                            <#input id="firstUseDrugTime" name="开始使用时间" value="${item.firstUseDrugTime}" underline="true"/>
                            <#input id="mediDay" name="" value="${item.mediDay}" underline="true"/>
                            <#input id="drugRoute" name="给药途径" value="${item.drugRoute}" underline="true"/>
                            <#input id="patientName" name="病人姓名" value="${item.patientName}" underline="true"/>
                            <#input id="altercol" name="备选列" value="${item.altercol}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AsthrecordInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AsthrecordInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/business/asthrecord/asthrecord_info.js"></script>
@}
