<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartpro.mis.modular.system.dao.DoctoruserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smartpro.mis.modular.system.model.Doctoruser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="cardNo" property="cardNo" />
        <result column="hospitalName" property="hospitalName" />
        <result column="hospitalAddr" property="hospitalAddr" />
        <result column="department" property="department" />
        <result column="title" property="title" />
        <result column="medSpecialty" property="medSpecialty" />
        <result column="mobile" property="mobile" />
        <result column="collScore" property="collScore" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, cardNo, hospitalName, hospitalAddr, department, title, medSpecialty, mobile, collScore
    </sql>

    <select id="getByMobile" resultType="doctoruser">
        select
        <include refid="Base_Column_List" />
        from doctorUser where mobile = #{mobile}
    </select>

    <!-- 根据用户手机号码删除记录 -->
    <delete id="deleteByMobile">
        delete from doctorUser where mobile = #{mobile}
    </delete>

</mapper>
