<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartpro.mis.modular.system.dao.GlobaldrugMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smartpro.mis.modular.system.model.Globaldrug">
        <id column="id" property="id" />
        <result column="drug" property="drug" />
        <result column="functionDescript" property="functionDescript" />
        <result column="treatSymptoms" property="treatSymptoms" />
        <result column="advEffect" property="advEffect" />
        <result column="stock" property="stock" />
        <result column="supplier" property="supplier" />
        <result column="dosageManage" property="dosageManage" />
        <result column="createTime" property="createTime" />
        <result column="altercol" property="altercol" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, drug, functionDescript, treatSymptoms, advEffect, stock, supplier, dosageManage, createTime, altercol
    </sql>

</mapper>
