@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用户药物记录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Userdrugrecord.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="UserdrugrecordTableToolbar" role="group">
                            @if(shiro.hasPermission("/userdrugrecord/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Userdrugrecord.openAddUserdrugrecord()"/>
                            @}
                            @if(shiro.hasPermission("/userdrugrecord/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Userdrugrecord.openUserdrugrecordDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/userdrugrecord/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Userdrugrecord.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="UserdrugrecordTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/business/userdrugrecord/userdrugrecord.js"></script>
@}
