@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="uid" name="用户编号" underline="true"/>
                            <#input id="drugId" name="药物编号" underline="true"/>
                            <#input id="startUseTime" name="开始使用时间"/>
                </div>

                <div class="col-sm-6">
                            <#input id="endUseTime" name="结束使用时间" underline="true"/>
                            <#input id="drugNum" name="用药数量" underline="true"/>
                            <#input id="recordTime" name="记录时间" underline="true"/>
                            <#input id="altercol" name="备选列" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserdrugrecordInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserdrugrecordInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/business/userdrugrecord/userdrugrecord_info.js"></script>
@}
